.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .root {
    width: 100%;
  }
}

.label-cont {
  display: inline-flex;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .label-cont {
    width: 100%;
  }
}

.label {
  box-sizing: border-box;
  border: none;
  height: 48px;
  color: #323232;
  padding: 16px;
  list-style-type: none;
  text-align: center;
  border-left: #e0e0e0 1px solid;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 400px) {
  .label {
    border-left: none;
  }
}

@media (max-width: 600px) {
  .label {
    flex: 1;
  }
}

.label.last {
  border-left: none;
}

.input:checked + .label,
.input:active + .label {
  background: #16d379;
  color: #fff;
}

.input:focus-visible + .label {
  outline: none;
  box-shadow: 0 0 0 3px rgba(83, 151, 241, 0.5);
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
