.sensor-table-container {
  width: 100%;
  overflow-x: auto;
}

.sensor-table {
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}

.sensor-table th, .sensor-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.sensor-table th:first-child,
.sensor-table td:first-child {
  width: 50px; /* Max width for the last column */
}

.sensor-table th:last-child,
.sensor-table td:last-child {
  width: 100px; /* Max width for the last column */
}

.sensor-table th:nth-child(2),
.sensor-table td:nth-child(2) {
  text-align: left;
}

.sensor-table th:nth-child(3),
.sensor-table td:nth-child(3) {
}

.sensor-table th:last-child,
.sensor-table td:last-child {
  max-width: 100px;
}

.sensor-table th {
  background-color: #fff;
}

.sensor-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.sensor-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
