.root {
  display: inline-flex;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .root {
    margin-top: 24px;
  }
}

.button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 0;
  margin: 0;
  border: none;
  appearance: none;
  font-size: inherit;
  height: 48px;
  color: #323232;
  border-right: #e0e0e0 1px solid;
  background: transparent;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.button:disabled {
  cursor: auto;
  color: #d2d2d2;
}

@media (max-width: 600px) {
  .button {
    flex: 1;
  }
}

.button-prev:before {
  display: block;
  content: ' ';
  border-width: 8px 16px;
  border-color: transparent currentColor transparent transparent;
  border-style: solid;
  position: relative;
  left: -8px;
}

.button-next:before {
  display: block;
  content: ' ';
  border-width: 8px 16px;
  border-color: transparent transparent transparent currentColor;
  border-style: solid;
  position: relative;
  left: 8px;
}

.button:active:not(:disabled) {
  background: #16d379;
  color: #fff;
}

.button.last {
  border-right: none;
  border-left: #e0e0e0 1px solid;
}

.page {
  min-width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .page {
    flex: 1;
  }
}
