.root {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 24px auto 0;
}

@media (max-width: 600px) {
  .root {
    flex-direction: column-reverse;
  }
}
